<header class="row">
  <div class="col-sm-6">
    <h3><%= t('Batches') %></h3>
  </div>

  <div class="col-sm-6" style="display: flex; justify-content: flex-end; align-items: center;">
    <form action="<%= root_path %>batches" method="post">
      <%= csrf_tag %>
      <input class="btn btn-danger" type="submit" name="delete" title="This will delete all jobs within the queue, it will reappear if you push more jobs to it in the future." value="<%= t('Delete All') %>" data-confirm="<%= t('AreYouSureDeleteBatch') %>" />
    </form>

   <% if @batches.size > 0 && @total_size > @count %>
      <div style="margin-left: 12px">
        <%= erb :_paging, locals: { url: "#{root_path}batches" } %>
      </div>
    <% end %>
  </div>
</header>

<div class="table_container">
  <% if @batches.any? %>
    <table class="queues table table-hover table-bordered table-striped">
      <thead>
        <th><%= t('bid') %></th>
        <th><%= t('description') %></th>
        <th><%= t('created_at') %></th>
        <th><%= t('is_completed') %></th>
        <th><%= t('pending_jobs') %></th>
        <th></th>
      </thead>
      <% @batches.each do |batch| %>
        <tr>
          <td>
            <a href="<%= root_path %>batches/<%= batch.bid %>"><%= h batch.bid %></a>
          </td>
          <td>
            <%= batch.description %>
          </td>
          <td>
            <%= Time.at batch.created_at %>
          </td>
          <td>
            <%= batch.completed? %>
          </td>
          <td>
            <%= batch.jobs.count %>
          </td>
          <td>
            <form action="<%= root_path %>batches/<%= batch.bid %>" method="post">
              <%= csrf_tag %>
              <input class="btn btn-danger" type="submit" name="delete" title="This will delete all jobs within the queue, it will reappear if you push more jobs to it in the future." value="<%= t('Delete') %>" data-confirm="<%= t('AreYouSureDeleteBatch') %>" />
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="alert alert-success"><%= t('no_batches') %></div>
  <% end %>
</div>
